:root {
  // All project colors
  --primaryColor: hsl(14,90%,53%);
  --primaryColorLight: hsl(14,96%,91%);
  --bgColor: hsl(0,0%,100%);
  --fontColor: hsl(20,42%,87%);
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(0,0%,10%);
  --greyText: hsl(0,0%,51%);
  --inputColor: hsl(330,12%,97%);
  --cardColor: hsl(300,3%,94%);

  // Font & Typography
  --biggestontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFonSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.portfolio{
  .secContainer{
    align-items:start;
    flex-wrap: nowrap;
    gap: 1rem;

    .secHeading{
      width: 100%;
      margin-bottom: 1rem;
    }

    .leftContainer{
      .singlePortfolio{
        img{
          width: 50px;
          margin: 1rem;
        }
      }
    }

    .rightContainer{
      justify-content: center;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio{
    .secContainer{
      flex-wrap: wrap;
    }
  }
}